
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
 *{
     font-family: 'Open-sans', sans-serif;
 }

h2{
    color: rgba(50,78,115,1)
}

.myNav{
    background-color: rgba(50,78,115,1);
    transition: 0.3s ease;
}
.myNav.active{
    background-color:#111925 ;
    transition: 0.5s ease;
}

.h1{
    color: rgba(50,78,115,1)
}

li{
    color: rgba(50,78,115,1)
}

.about{
background: rgba(50,78,115,1)
}

  .icon{
    transition: .3s ease;

}
.icon:hover{
    box-shadow: 0 15px 35px rgb(0,0,0,0.1);
    transform: scale(1.5);
}

.col{
    opacity: 1;
}

.col:hover{
    opacity: 0.75;
    transition: 0.3s ease;
}